<%= form_for(@antenna) do |f| %>
  <% if @antenna.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@antenna.errors.count, "error") %> errores ocurrieron al intentar guardar los cambios:</h2>

      <ul>
      <% @antenna.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="half-screen left">
    <table>
      <tbody>
        <tr>
          <td>Sitio / Nombre</td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <td>Provincia</td>
          <td><%= f.text_field :province %></td>
        </tr>
        <tr>
          <td>Localidad</td>
          <td><%= f.text_field :location %></td>
        </tr>
        <tr>
          <td>Altura SNM</td>
          <td><%= f.text_field :height %></td>
        </tr>
        <tr>
          <td></td>
          <td>
            (Los campos a continuación pueden llenarse haciendo click en el mapa de la derecha)
          </td>
        </tr>
        <tr>
          <td>Longitud</td>
          <td><%= f.text_field :longitude %></td>
        </tr>
        <tr>
          <td>Latitud</td>
          <td><%= f.text_field :latitude %></td>
        </tr>
      </tbody>
    </table>

    <div class="actions">
      <%= f.submit 'Guardar' %>
    </div>
  </div>

  <div class="half-screen right">
    <div id="map"></div>
  </div>
<% end %>

<script>

  // form

  var get_longitude = function(){
    return parseFloat($("#antenna_longitude").val());
  }
  var get_latitude = function(){
    return parseFloat($("#antenna_latitude").val());
  }

  // layers

  var untiled = new ol.layer.Image({
    source: new ol.source.ImageWMS({
      ratio: 1,
      url: 'http://localhost:8080/geoserver/PracticoGIS/wms',
      params: { FORMAT: 'image/png', VERSION: '1.1.1', LAYERS: 'PracticoGIS:edt' }
    })
  });
  var osm = new ol.layer.Tile({ source: new ol.source.OSM() });

  // map

  var source_projection_name = 'EPSG:4326';
  var destination_projection_name = 'EPSG:3857'; // web mercator

  var map = new ol.Map({
    target: 'map',
    layers: [
      osm,
      untiled
    ],
    view: new ol.View({
      center: ol.proj.transform(
        [
          (isNaN(get_longitude()) ? -58.53 : get_longitude()),
          (isNaN(get_latitude()) ? -34.67 : get_latitude())
        ], source_projection_name, destination_projection_name),
      zoom: isNaN(get_longitude()) ? 4 : 12
    })
  });

  // click handler

  var lng_lat_from = function(some_event){
    return ol.proj.transform(some_event.coordinate, destination_projection_name, source_projection_name);
  };

  var marker = null;

  map.on('click', function(e) {
    var coords = lng_lat_from(e);
    var lng = coords[0];
    var lat = coords[1];
    console.log("Lng: " + lng + " ; Lat: " + lat + " ;");
    create_marker_for(lng, lat);
    $("#antenna_longitude").val(lng);
    $("#antenna_latitude").val(lat);
  });

  var create_marker_for = function(lng, lat){
    if(marker != null) map.removeOverlay(marker);
    marker = new ol.Overlay({
      position: ol.proj.transform([lng, lat], source_projection_name, destination_projection_name),
      element: $('<img src="<%= image_url "marker.png" %>">'),
      offset: [-18, -35]
    });
    map.addOverlay(marker);
  }

  if($("#antenna_longitude").val().length > 0){
    var lng = $("#antenna_longitude").val();
    var lat = $("#antenna_latitude").val();
    create_marker_for(lng, lat);
  }

</script>
