<p id="notice"><%= notice %></p>

<h1>Estaciones Digitales Terrestres</h1>

<div id="user-instructions">
Edite las estaciones desde el listado, o bien pase al <%= link_to 'mapa', antennas_map_url %> para ver datos de la estación más cercana a un punto.
</div>

<table>
  <thead>
    <tr>
      <!-- <th colspan="3"></th> -->
      <th>Sitio</th>
      <th>Provincia</th>
      <th>Localidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @antennas.each do |antenna| %>
      <tr class="antenna" id="<%= antenna.identifier %>" >
        <td class="name"><%= antenna.name %></td>
        <td><%= antenna.province %></td>
        <td><%= antenna.location %></td>
        <td><%= link_to 'Ver en el mapa', antenna %></td>
        <td><%= link_to 'Editar', edit_antenna_path(antenna) %></td>
        <td><%= link_to 'Eliminar', antenna, method: :delete, data: { confirm: '¿Está seguro de que desea eliminar la estación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Antenna', new_antenna_path %>

<script>

  var select_antenna = function(identifier){
    $(".antenna").removeClass("selected");
    $(".antenna#" + identifier).addClass("selected");
  }

  var antenna_identifier = window.location.hash.substr(1);
  if(antenna_identifier.length > 0) select_antenna(antenna_identifier);

</script>
